#color-modal {
  display: none;
}
#color-modal h2 {
  margin: 10px;
}
#color-modal hr {
  color: black;
  width: 100%;
  margin: 0px;
}
.color-icon {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 10px;
}
#custom-color-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
}
.color-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0px;
}

#red-color-icon {
  background-color: red;
}
#orange-color-icon {
  background-color: orange;
}
#yellow-color-icon {
  background-color: yellow;
}
#green-color-icon {
  background-color: green;
}
#blue-color-icon {
  background-color: blue;
}
#indigo-color-icon {
  background-color: indigo;
}
#violet-color-icon {
  background-color: violet;
}
#gray-color-icon {
  background-color: gray;
}
#black-color-icon {
  background-color: black;
}
#white-color-icon {
  background-color: white;
}