.tools .fa-paint-brush {
  font-size: 20px;
}

.tools #small-paintbrush {
  outline: 1px dotted black;
}

.tools #medium-paintbrush {
  font-size: 25px;
  padding: 10px;
}

.tools .fa-brush {
  font-size: 30px;
}

.tools .fa-paint-roller {
  font-size: 50px;
}

.tools #small-paintbrush, .tools #medium-paintbrush, .tools #large-paintbrush, .tools #paintroller {
  padding: 5px;
}

.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 100vw;
  background-color: black;
  box-shadow: -3px 2px 9px 6px #033652;
  color: white;
  position: absolute;
  bottom: 0;
}

.tools .width {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}




.pen-range {
  align-self: center;
  margin: 0px;
}

.pick-color-outside {
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f1ca2c;
  box-shadow: 1px 1px 1px 1px #033652;
}

.pick-color {
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: red; 
}





.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 40%;
  top: 40%;

  overflow: auto; 
  background-color: #044060;
  color: #a0ebf9f9;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
}

.modal button {
  margin: 20px;
  padding: 3px;
}
