.tools {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  background-color: black;
  box-shadow: -3px 2px 9px 6px #033652;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 10px;

}


.tools .buttons, .tools .colors, .tools .width {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}


.color-picker {
  align-self: center;
  margin: 0px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0px;
}

#red-color-field {
  background: red;
}
#blue-color-field {
  background: blue;
}
#yellow-color-field {
  background: rgb(201, 201, 33);
}
#green-color-field {
  background: green;
}


.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 40%;
  top: 40%;

  overflow: auto; 
  background-color: #044060;
  color: #a0ebf9f9;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
}

.modal button {
  margin: 20px;
  padding: 3px;
}
