.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 40%;
  top: 20%;

  overflow: auto; 
  /* background-color: #044060; */
  background-color: #a2830a;
  /* color: #a0ebf9f9; */
  color: black;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
}

.modal button {
  margin: 20px;
  padding: 3px;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modal form label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal input, .modal select {
  height: 20px;
  margin: 0px 10px;
}

@media only screen and (max-width: 500px) {

  .modal {
    left: 10%;
  top: 10%;
  }
}