header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
  /* background-color: #d2aa09; */
}

header a {
  text-decoration: none;
}
header .logo {
  display: flex;
  align-items: center;
}

.fa-solid .fa-paintbrush {
  font-size: 100px;
}
.header-tools {
  display: flex;
}