header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

header a {
  text-decoration: none;
}

header .logo {
  display: flex;
  align-items: center;
}

.fa-solid .fa-paintbrush {
  font-size: 100px;
}
.header-tools {
  display: flex;
}

@media only screen and (max-width: 500px){
  header {
    font-size: 15px;
  }
}