canvas {
  box-shadow: -3px 2px 9px 6px black;
  cursor: pointer;
  background-image: url("../../Pictures/Frame.jpeg");
  padding: 10px;
}

.fa-paint-brush {
  font-size: 38px;
}

.cursor {
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
 transform: translate(-40%, -60%);
 pointer-events: none;
}
