canvas {
  box-shadow: -3px 2px 9px 6px #033652;
  cursor: pointer;
  background-image: url("../../Pictures/Frame.jpeg");
  padding: 10px;
  margin-top: 20px;
  width: 85%;
}

.fa-paint-brush {
  font-size: 38px;
}

.canvas-container {
  display: flex;
  justify-content: space-between;
}
.cursor {
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
 transform: translate(-40%, -60%);
 pointer-events: none;
}
