canvas {
  box-shadow: -3px 2px 9px 6px #033652;
  cursor: pointer;
  background-image: url("../../Pictures/Frame.jpeg");
  padding: 5px;
  margin-top: 20px;
  margin-left: 80px;
  border: 10px dotted red;
}

.fa-paint-brush {
  font-size: 38px;
}

.canvas-container {
  display: flex;
  justify-content: flex-start;
  width: 100%; 
}

.canvas-container #medium-paintbrush-cursor {
  display: none;
  font-size: 48px;
}

.canvas-container #large-paintbrush-cursor {
  display: none;
  font-size: 58px;
}

.canvas-container #paintroller-cursor {
  display: none;
  font-size: 68px;
}

.cursor {
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-40%, -60%);
  pointer-events: none;
}

