@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body {
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  color: black;
  background-color: #edd88d;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}


button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 0px 8px;
}

h1, h2 {
  font-family: 'Oleo Script', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}



