.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;

  /* min-height: 100vh;
  max-height: 100vh; */
}
.homepage img {
  min-width: 50%;
  margin: 10px;
}
.homepage button {
  /* background-color: #007849; */
  background-color: #d2aa09;
  color: black;
}