.color-field {
  height: 30px;
  width: 30px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0px 10px;
  
}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 5px;
  position: absolute;
  background-color: black;
  color: white;
  box-shadow: -3px 2px 9px 6px #033652;
  width: 60px;
  min-height: 50%;
  font-size: 80%;
}

.color-picker {
  align-self: center;
  margin: 0px;
  height: 50px;
}
#red-color-field {
  background: red;
}
#blue-color-field {
  background: blue;
}
#yellow-color-field {
  background: rgb(201, 201, 33);
}
#green-color-field {
  background: green;
}
